<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644191241876-9lae8ei5qsstig26e3fvil5nssi5bucc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644191241876-9lae8ei5qsstig26e3fvil5nssi5bucc</string>
	<key>API_KEY</key>
	<string>AIzaSyCJyjpegWqjdBfLSos1riElK3BIHF8Cpcc</string>
	<key>GCM_SENDER_ID</key>
	<string>644191241876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sample.flutter-test</string>
	<key>PROJECT_ID</key>
	<string>fluttertest-10478</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertest-10478.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644191241876:ios:79734ab9fc623cd3b35681</string>
</dict>
</plist>